<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="author" content="Martin Esser" />
  <meta name="description" content="A simple travel plannder" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Travel Planner</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
</head>

<body>
  <section>
    <div class="container">
      <header>
        <h1>Travel Planner</h1>
      </header>
    </div>
    <div class="container">
      <div class="row">
        <div class="column">
          <figure class="figure-main">
            <img src="./../media/luggage-640.jpg" alt="Berlin Cathedral" />
          </figure>
        </div>
        <div class="column">
          <form>
            <div class="row">
              <div class="column column-25">
                <label for="city">City</label>
              </div>
              <div class="column column-bottom">
                <input type="text" id="city" placeholder="City" />
              </div>
            </div>
            <div class="row">
              <div class="column column-25">
                <label for="country">Country</label>
              </div>
              <div class="column column-bottom">
                <input type="text" id="country" placeholder="Country" />
              </div>
            </div>
            <div class="row">
              <div class="column column-25">
                <label for="depart">Departing</label>
              </div>
              <div class="column column-bottom">
                <input type="text" id="depart" placeholder="YYYY-MM-DD" />
              </div>
            </div>
            <div class="row">
              <div class="column column-25">
                <label for="return">Returning</label>
              </div>
              <div class="column column-bottom">
                <input type="text" id="return" placeholder="YYYY-MM-DD" />
              </div>
            </div>
            <!-- TODO: Suppress events-->
            <div class="row">
              <button id="generate" class="column button button-outline" type="button">Save</button>
              <button id="btn-remove" class="column button button-outline" disabled type="button">Remove</button>
            </div>
          </form>
          <div class="row">
            <div class="column">
              <p>
                Your trip to <b>CITY</b>, <b>COUNTRY</b>
                from <b>YYYY-MM-DD</b> to <b>YYYY-MM-DD</b>
                is <b>N</b> days away
                and will last <b>M</b> days.
              </p>
            </div>
          </div>
          <div id="forecasts" class="row row-wrap flex-row">
            <div class="column column-25 column-forecast">
              <div class="row row-no-padding flex-row">
                <div class="column column-25">
                  <figure class="icon">
                    <img src="https://www.weatherbit.io/static/img/icons/c01d.png" title="Mix of sun and clouds">
                  </figure>
                </div>
                <div class="column temp">
                  <div class="temp-high">20°C</div>
                  <div class="temp-low">10°C</div>
                </div>
              </div>
              <div class="row row-no-padding flex-row">
                <div class="column date">
                  2020-12-31
                </div>
              </div>
            </div>

            <div class="column column-25 column-forecast">
              <div class="row row-no-padding flex-row">
                <div class="column column-25">
                  <figure class="icon">
                    <img src="https://www.weatherbit.io/static/img/icons/c02d.png" title="Mix of sun and clouds">
                  </figure>
                </div>
                <div class="column temp">
                  <div class="temp-high">20°C</div>
                  <div class="temp-low">10°C</div>
                </div>
              </div>
              <div class="row row-no-padding flex-row">
                <div class="column date">
                  2021-01-01
                </div>
              </div>
            </div>

            <div class="column column-25 column-forecast">
              <div class="row row-no-padding flex-row">
                <div class="column column-25">
                  <figure class="icon">
                    <img src="https://www.weatherbit.io/static/img/icons/c03d.png" title="Mix of sun and clouds">
                  </figure>
                </div>
                <div class="column temp">
                  <div class="temp-high">20°C</div>
                  <div class="temp-low">10°C</div>
                </div>
              </div>
              <div class="row row-no-padding flex-row">
                <div class="column date">
                  2021-01-02
                </div>
              </div>
            </div>

            <div class="column column-25 column-forecast">
              <div class="row row-no-padding flex-row">
                <div class="column column-25">
                  <figure class="icon">
                    <img src="https://www.weatherbit.io/static/img/icons/c04d.png" title="Mix of sun and clouds">
                  </figure>
                </div>
                <div class="column temp">
                  <div class="temp-high">20°C</div>
                  <div class="temp-low">10°C</div>
                </div>
              </div>
              <div class="row row-no-padding flex-row">
                <div class="column date">
                  2021-01-03
                </div>
              </div>
            </div>

            <div class="column column-25 column-forecast">
              <div class="row row-no-padding flex-row">
                <div class="column column-25">
                  <figure class="icon">
                    <img src="https://www.weatherbit.io/static/img/icons/c02d.png" title="Mix of sun and clouds">
                  </figure>
                </div>
                <div class="column temp">
                  <div class="temp-high">20°C</div>
                  <div class="temp-low">10°C</div>
                </div>
              </div>
              <div class="row row-no-padding flex-row">
                <div class="column date">
                  2021-01-04
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </section>
</body>

</html>