<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="author" content="Martin Esser" />
  <meta name="description" content="A simple travel plannder" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Travel Planner</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
</head>

<body>
  <main>
    <div class="container">
      <header>
        <h1>Travel Planner</h1>
      </header>
    </div>
    <div class="container">
      <div class="row">
        <div class="column">
          <figure class="figure-dest">
            <img src="./../media/luggage-640.jpg" alt="Trolleys lined-up in front of a wall with backpacks on top." />
          </figure>
        </div>
        <div class="column">
          <form onSubmit="Client.handleSubmit(event)">
            <div class="row">
              <div class="column column-25">
                <label for="city">City<sup>*</sup></label>
              </div>
              <div class="column column-bottom">
                <input type="text" id="city" title="Destination city name. Standard Latin chars only."
                  placeholder="City (e.g.: Berlin)" pattern="\s*\w(\s|\w)*" />
              </div>
            </div>
            <div class="row">
              <div class="column column-25">
                <label for="country">Country<sup>*</sup></label>
              </div>
              <div class="column column-bottom">
                <input type="text" id="country" title="Destination two-letter country code"
                  placeholder="Country code (e.g.: DE)" pattern="\s*[A-Z]{2}\s*" />
              </div>
            </div>
            <div class="row">
              <div class="column column-25">
                <label for="depart">Departing<sup>*</sup></label>
              </div>
              <div class="column column-bottom">
                <!-- Big thanks to Aurelian Hermand for the regex pattern (see https://www.html5pattern.com/Dates)-->
                <input type="text" id="depart" title="Departure date with format yyyy-mm-dd" placeholder="yyyy-mm-dd"
                  pattern="\s*[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])\s*" />
              </div>
            </div>
            <div class="row">
              <div class="column column-25">
                <label for="return">Returning<sup>*</sup></label>
              </div>
              <div class="column column-bottom">
                <!-- Big thanks to Aurelian Hermand for the regex pattern (see https://www.html5pattern.com/Dates)-->
                <input type="text" id="return" title="Return date with format yyyy-mm-dd" placeholder="yyyy-mm-dd"
                  pattern="\s*[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])\s*" />
              </div>
            </div>
            <div class="row">
              <div class="column">
                <button id="generate" class="column button button-outline">Save</button>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="column">
              <p id="summary">
                Your trip to <b>CITY</b>, <b>COUNTRY</b>
                from <b>YYYY-MM-DD</b> to <b>YYYY-MM-DD</b>
                is <b>N</b> days away
                and will last <b>M</b> days.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="column">
              <h2 class="header-forecast">Weather Forecast</h2>
            </div>
          </div>

          <div id="forecasts" class="row row-wrap force-flex-direction-row">
            <div class="column column-25 column-forecast">
              <div class="row row-no-padding force-flex-direction-row">
                <div class="column column-25">
                  <figure class="icon">
                    <img src="https://www.weatherbit.io/static/img/icons/c01d.png" title="Mix of sun and clouds">
                  </figure>
                </div>
                <div class="column temp">
                  <div class="temp-high">20°C</div>
                  <div class="temp-low">10°C</div>
                </div>
              </div>
              <div class="row row-no-padding force-flex-direction-row">
                <div class="column date">
                  2020-12-31
                </div>
              </div>
            </div>

            <div class="column column-25 column-forecast">
              <div class="row row-no-padding force-flex-direction-row">
                <div class="column column-25">
                  <figure class="icon">
                    <img src="https://www.weatherbit.io/static/img/icons/c02d.png" title="Mix of sun and clouds">
                  </figure>
                </div>
                <div class="column temp">
                  <div class="temp-high">20°C</div>
                  <div class="temp-low">10°C</div>
                </div>
              </div>
              <div class="row row-no-padding force-flex-direction-row">
                <div class="column date">
                  2021-01-01
                </div>
              </div>
            </div>

            <div class="column column-25 column-forecast">
              <div class="row row-no-padding force-flex-direction-row">
                <div class="column column-25">
                  <figure class="icon">
                    <img src="https://www.weatherbit.io/static/img/icons/c03d.png" title="Mix of sun and clouds">
                  </figure>
                </div>
                <div class="column temp">
                  <div class="temp-high">20°C</div>
                  <div class="temp-low">10°C</div>
                </div>
              </div>
              <div class="row row-no-padding force-flex-direction-row">
                <div class="column date">
                  2021-01-02
                </div>
              </div>
            </div>

            <div class="column column-25 column-forecast">
              <div class="row row-no-padding force-flex-direction-row">
                <div class="column column-25">
                  <figure class="icon">
                    <img src="https://www.weatherbit.io/static/img/icons/c04d.png" title="Mix of sun and clouds">
                  </figure>
                </div>
                <div class="column temp">
                  <div class="temp-high">20°C</div>
                  <div class="temp-low">10°C</div>
                </div>
              </div>
              <div class="row row-no-padding force-flex-direction-row">
                <div class="column date">
                  2021-01-03
                </div>
              </div>
            </div>

            <div class="column column-25 column-forecast">
              <div class="row row-no-padding force-flex-direction-row">
                <div class="column column-25">
                  <figure class="icon">
                    <img src="https://www.weatherbit.io/static/img/icons/c02d.png" title="Mix of sun and clouds">
                  </figure>
                </div>
                <div class="column temp">
                  <div class="temp-high">20°C</div>
                  <div class="temp-low">10°C</div>
                </div>
              </div>
              <div class="row row-no-padding force-flex-direction-row">
                <div class="column date">
                  2021-01-04
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </main>
</body>

</html>